.container {
    margin-bottom: 100px;
  }
  
  .container h3 {
    font-size: 1.5rem;
    color: #ff4d00;
    margin: 24px 0;
  }
  
  .container ul {
    padding: 0;
  }
  
  .container li {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 30px;
    list-style: none;
  }
  
  .container li::before {
    content: "• ";
    color: #ff4d00;
  }